* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

nav {
  background-color: #fdbe30;
  padding: 16px 32px;
}

main {
  padding: 64px;
}

.logo {
  width: 100px;
  height: 100px;
}

ul li {
  list-style: none;
  transition: transform 0.2s ease-in-out;
}

ul li:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

ul a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #5b1600;
  transition: color 0.2s ease-in-out;
}

ul a:hover {
  color: #f8f8f5;
  transition: color 0.2s ease-in-out;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.teste {
  max-width: 50%;
}
#apresentacao img {
  max-width: 600px;
}
h1 h2 h4 {
  font-family: inik, arial, helvet, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #5b1600;
}

h4 {
  font-size: 1.3rem;
}

p,
i {
  font-size: 1.3rem;
}

.btn-primary {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
  margin-top: 32px;
}

.btn-primary:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

#top3 {
  align-items: center;
  margin-top: 10rem;
}

#top3 img {
  width: 240px;
  height: 70px;
  margin-bottom: 2rem;
  border-radius: 0px;
}

article {
  max-width: 255px;
  height: 475px;
  border-radius: 10px;
  border: 3px solid #f16911;
  background-color: #f8f8f5;
}
article header {
  width: 100%;
}

article main {
  padding: 5px;
}

article h2 {
  padding: 4px;
  font-size: 16px;
}

article p {
  padding: 4px;
  font-size: 14px;
}

article span {
  font-size: 18px;
  font-family: inik, arial, helvet, sans-serif;
  color: #a62929;
  padding-left: 90px;
  padding-top: 8px;
  padding-bottom: 4px;
}

article button {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
}

article button:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

.ellipsis {
  overflow: hidden;
  line-height: 1.5;
  max-height: 6em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#encomenda {
  background-image: url("./img/banner.png");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

#encomenda {
  align-items: left;
  margin-top: 10rem;
}

#encomenda div {
  max-width: 50%;
}

#encomenda h1 {
  margin-left: 2rem;
  margin-top: 4rem;
}

#encomenda p {
  margin-left: 2rem;
  margin-top: 1rem;
}

.btn-secundary {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
  margin-top: 32px;
  margin-left: 32px;
}

.btn-secundary:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

/* INICIO DA ESTILIZACAO DO CARDAPIO */

section.pratos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

table {
  width: 100%;
}

th {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
  color: #5b1600;
}

th:nth-child(1) {
  width: 200px;
}
th:nth-child(2) {
  width: 500px;
}
th:nth-child(3) {
  width: 100px;
}

td {
  font-size: 20px;
}

td:nth-child(1) {
  font-size: 1.75rem;
  padding-right: 30px;
}

td:nth-child(3) {
  text-align: center;
  font-size: 1.5rem;
}

figure {
  display: flex;
  align-items: center;
}

img {
  margin: 20px;
}

h2 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

footer hr {
  margin-bottom: 80px;
  border-color: #fdbe30;
}
/* FIM DA ESTILIZACAO DO CARDAPIO */

/* INICIO DA ESTILIZACAO DO BUFFET */
.buffet{
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.peca-buffet{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buffet-escolha{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buffet-escolha h2{
  font-size: 2rem;
  color: #5b1600;
  text-decoration: none;
}
.buffet-escolha h4 {
  font-size: 1.3rem;
  font-weight: 400;

}

.buffet p {
  font-size: 1.5rem;
  text-align: left;
}

.peca-buffet img{
  grid-column: 2;
  max-width: 450px;
  padding-left: 10rem;
}
.peca-buffet span{
  color: #5b1600;
  font-weight: 700;
}

.buffet-cardapio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
}
.buffet-cardapio h2{
  grid-column: 1/-1;
  font-size: 2.5rem;
  color: #5b1600;
  text-decoration: none;
  margin-bottom: 2rem;
}

.buffet-cardapio img{
  width: 200px;
  height: 250px;
  border-radius: 1rem;
}

.buffet-caracteristicas{
  border-radius: 1rem;
  border: 3px solid #f16911;
  background-color: #f8f8f5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.buffet-caracteristicas p{
  text-align: center;
}

.buffet-orcamento{
  margin-top: 8rem;
  background-image: url('./img/Orçamento.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buffet-orcamento h2{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1090px) {
    nav {
      flex-direction: column;
      text-align: center;
    }
  nav ul {
      margin-top: 0.5rem;
    }
}
@media screen and (max-width: 480px) {
  /* Menu Mobile */
  .flex-row ul {
    display: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .menu-toggle span {
    height: 0.2rem;
    width: 1.5rem;
    background-color: #5b1600;
    margin: 0.25rem 0;
    display: block;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .peca-buffet{
    display: flex;
    flex-direction: column;
  }

  .buffet-escolha{
    gap: 0.5rem;
  }

  .buffet-escolha h2{
    font-size: 2rem;
  }

  .buffet p, h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  .buffet h1{
    font-size: 2.2rem;
  }
  .peca-buffet img{
    max-width: 450px;
    padding-left: 3rem;
  }

  .buffet-cardapio{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .buffet-cardapio h2{
    font-size: 2rem;
  }
  .buffet-caracteristicas{
    padding: 0.8rem;
    margin: 1rem;
  }
  .buffet-orcamento{
    margin-top: 4rem;
  }
  buffet-orcamento h2{
    font-size: 2rem;
  }
  
}





/* FIM DA ESTILIZACAO DO CARDAPIO */