/* COMEÇO DA ESTILIZACAO DA PÁG INÍCIO */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

nav {
  background-color: #fdbe30;
  padding: 16px 32px;
}

main {
  padding: 64px;
}

.logo {
  width: 100px;
  height: 100px;
}

ul li {
  list-style: none;
  transition: transform 0.2s ease-in-out;
}

ul li:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

ul a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #5b1600;
  transition: color 0.2s ease-in-out;
}

ul a:hover {
  color: #f8f8f5;
  transition: color 0.2s ease-in-out;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.m-w-50 {
  max-width: 50%;
}
#apresentacao img {
  max-width: 600px;
}
h1 h2 h4 {
  font-family: inik, arial, helvet, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #5b1600;
}

h4 {
  font-size: 1.3rem;
}

p,
i {
  font-size: 1.3rem;
}

.btn-primary {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
  margin-top: 32px;
}

.btn-primary:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

#top3 {
  align-items: center;
  margin-top: 10rem;
}

#top3 img {
  width: 240px;
  height: 70px;
  margin-bottom: 2rem;
  border-radius: 0px;
}

article {
  max-width: 255px;
  height: 475px;
  border-radius: 10px;
  border: 3px solid #f16911;
  background-color: #f8f8f5;
}
article header {
  width: 100%;
}

article main {
  padding: 5px;
}

article h2 {
  padding: 4px;
  font-size: 16px;
}

article p {
  padding: 4px;
  font-size: 14px;
}

article span {
  font-size: 18px;
  font-family: inik, arial, helvet, sans-serif;
  color: #a62929;
  padding-left: 90px;
  padding-top: 8px;
  padding-bottom: 4px;
}

article button {
  width: 130px;
  height: 45px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
}

article button:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

.ellipsis {
  overflow: hidden;
  line-height: 1.5;
  max-height: 6em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#encomenda {
  background-image: url("./img/banner.png");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

#encomenda {
  align-items: left;
  margin-top: 10rem;
}

#encomenda div {
  max-width: 50%;
}

#encomenda h1 {
  margin-left: 2rem;
  margin-top: 4rem;
}

#encomenda p {
  margin-left: 2rem;
  margin-top: 1rem;
}

.btn-secundary {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
  margin-top: 32px;
  margin-left: 32px;
}

.btn-secundary:hover {
  background-color: #9a8e21;
  color: #f8f8f5;
}

#promocao{
    padding-top:10rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #5b1600;
}

#cardspromocao{
    padding: 0;
}

#cardspromocao img{
    size: 20%;
}

#cardspromocao .cardbtn{
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: 4px solid #f16911;
  text-align: center;
  text-decoration: none;
  color: #5b1600;
  background-color: #fdbe30;
  padding: 10px;
  font-size: 18px;
  font-style: bold;
  box-shadow: 2px 4px 4px #9a8e21;
  margin-top: 32px;
    align-self: center;
    justify-self: center;
}

#cardspromocao .cardbtn:hover {
    background-color: #9a8e21;
    color: #f8f8f5;
  }
  

.w-100{
    width: 100%;
}

.justfy-center{
    justify-content: center;
}

.redes{
    text-align: center;
    padding-top:128px;
}

.redes h1{
    padding:30px;
}

.redes img {
   width: 50px;
}

.footer{
    background-color:#fdbe30;
    width: 100%;
    height: 60px;
    justify-content: space-around;
}

footer span{
    font-size:1rem;
    color: #5b1600;
    
   
    
}
/* FIM DA ESTILIZACAO DA PÁG INÍCIO */


























/* INICIO DA ESTILIZACAO DO CARDAPIO */

section.pratos {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

th {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
  color: #5b1600;
}

th:nth-child(1) {
  width: 12rem;
}
th:nth-child(2) {
  width: 30rem;
}
th:nth-child(3) {
  width: 7rem;
}

td {
  font-size: 1.25rem;
}

td:nth-child(1) {
  font-size: 1.75rem;
  padding-right: 2rem;
}

td:nth-child(2) {
  padding-right: 2rem;
}

td:nth-child(3) {
  text-align: center;
  font-size: 1.5rem;
}

figure {
  display: flex;
  align-items: center;
}

img {
  margin: 1rem;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2.8rem;
}

footer hr {
  margin-bottom: 5rem;
  border-color: #fdbe30;
}

/* Estilos específicos para telas menores que 1090px */
@media screen and (max-width: 1090px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .table thead {
    display: none;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-right: 0;
  }

  .table tr {
    display: block;
  }

  .table td:first-of-type {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    display: block;
  }

  nav ul {
    margin-top: 0.5rem;
  }
}

/* Estilos específicos para telas menores que 480px (mobile) */
@media screen and (max-width: 480px) {
  .cardapio {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  figure {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }

  .table img {
    width: 18rem;
  }

  .table thead {
    display: none;
  }

  .table td {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .table tr {
    display: block;
    border: 1px solid #5b1600;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #fdbe30;
  }

  .table td:first-of-type {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    display: block;
  }

  /* Menu Mobile */
  .flex-row ul {
    display: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .menu-toggle span {
    height: 0.2rem;
    width: 1.5rem;
    background-color: #5b1600;
    margin: 0.25rem 0;
    display: block;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
/* FIM DA ESTILIZACAO DO CARDAPIO */
